---
import timeline from '../data/timeline.json';
import Timeline from '../components/Timeline.astro';

timeline.sort((a, b) => a.date.localeCompare(b.date) || a.title.localeCompare(b.title))
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Timeline of Privacy and Security</title>

		<style>
			:root {
				--background-color: #f8fafc;
				--card-color: #ffffff;
				--primary-color: #2563eb;
				--line-color: #cbd5e1;
				--text-color: #0f172a;
				--muted-color: #64748b;

				font-family: sans-serif;
			}

			* {
				box-sizing: border-box;
			}

			body {
				background: var(--background-color);
				color: var(--text-color);
			}
		</style>
	</head>
	<body>
		<h1>Timeline of Privacy and Security</h1>

		<Timeline events={timeline} />
	</body>
</html>
