---
import timeline from '../data/timeline.json';
import Timeline from '../components/Timeline.astro';

timeline.sort((a, b) => a.date.localeCompare(b.date) || a.title.localeCompare(b.title))
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Timeline of Privacy and Security</title>

		<style>
			:root {
				font-family: sans-serif;
				--bg: #f8fafc;        /* very light gray/blue */
				--card: #ffffff;     /* white */
				--primary: #2563eb;  /* blue */
				--line: #cbd5e1;     /* light gray */
				--text: #0f172a;     /* dark navy */
				--muted: #64748b;    /* gray */
			}

			* {
				box-sizing: border-box;
			}

			body {
				background: var(--bg);
  			color: var(--text);
			}
		</style>
	</head>
	<body>
		<h1>Timeline of Privacy and Security</h1>

		<Timeline events={timeline} />
	</body>
</html>
